@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Muli&display=swap');

.App {
  padding: 3rem 1.5rem;
}

.row {
  display: flex;
  flex: 1;
}

.title {
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding: 20px;
}