@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Muli&display=swap');

.App {
  text-align: center;
  display: flex;
  padding: 100px;
  align-items: center;
  justify-content: center;
}
